{% extends "layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <a class="btn btn-outline-dark" style="text-align: center; margin: 20px;" href="{{ path('main_index') }}">Вернуться на главную</a>
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}