{% extends 'base.html.twig' %}


    {% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style="margin: 20px" href="{{ path('main_index') }}">EXCHANGE</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">Тарифы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin: 10px" href="{{ path('main_index') }}">Контакты</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="{{ path('fos_user_security_login') }}" style="margin: 20px;" class="btn btn-outline-success">Войти</a>
                    <a href="{{ path('fos_user_registration_register') }}" style="margin: 20px;" class="btn btn-outline-success">Зарегистрироваться</a>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" style="color: #000000; padding: 20px; margin: 40px;" href="">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: #000000; padding: 20px; margin: 40px;" href="#">О нас</a>
        </li>
        <li class="nav-item">
            <form style="border-left: 2px solid black; padding: 20px; margin: 40px;">
                <h5 style="color: #000000;margin-bottom: 30px; text-align: center">Напишите нам</h5>
                <div class="row" style="padding-bottom: 40px">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Ваш вопрос">
                    </div>
                    <button  class="btn btn-outline-success">Отправить</button>
                </div>
            </form>
        </li>
    </ul>
{% endblock %}